body.book_now {
    background-size: cover; /* Ensures the background image covers the entire page */
    height: 130vh; /* Ensures the background covers the full height of the viewport */

    main.main-section{
        padding: 0 133px 0 133px;
        background-image: url('../images/book_now_bg.png');
        height: 100%;
        background-size: cover;
    }
}

.nav-color{
    position: absolute;  /* Position the div absolutely */
    top: 0;
    left: 0;
    width: 100%;         /* Make it span the entire width */
    height: 80px;        /* Set the height of the overlay to match the navbar's height */
    background-color: rgba(214, 173, 96, 0.75);  /* The desired background color */
}

.book-now-slct_exprnce {
    background-color: #B68D40;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.56);
    width: 480px;
    position: absolute;
    top: 45%;
}

.experience-title {
    font-size: 27px;
    color: #F4EBD0;
    font-weight: 600;
    letter-spacing: 2.48px;
    margin: 0;
    text-align: center;
}

.experience-subtitle {
    font-size: 16px;
    color: #122620;
    font-weight: normal;
    margin: 10px;
    margin-bottom: 0px;
    letter-spacing: normal;
    padding-left: 40px;
}

.book-now_room-list {
    .room-card {
        height: 380px;
        background: $secondary-color;
        box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        position: relative;
        top: 115%;

        &:hover {
            transform: scale(1.05);
        }

        .room-image {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .room-info {
            height: 80px;
            padding: 10px;
            text-align: center;
            font-weight: bold;
        }
    }
}


// Modal Styling
.modal-header {
    border-bottom: none;
    padding: 50px 60px 20px;

    button.btn-close {
    position: relative;
    bottom: 30px;
    }
}

.modal-content {
    background-color: #FCEEC3;
    border-radius: 5px;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0px 60px 40px;
}

.btn-primary {
    background-color: #C09736;
    border: none;
    &:hover {
        background-color: #d4af37;
    }
}

.modal.show .modal-dialog {
    align-content: center;
    height: 100vh;
    margin: auto;
}

.modal-title{
    padding: 0 146px;
}

.form-control {
    border: 2px solid #878A71;
    background-color: #FCEEC3;
}

.form-label {
    color: #878A71;;
}

// Social Icons
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 1.5rem;
    padding-bottom: 10px;
    border-bottom: 2px solid #878A71;
}


.modal.show .modal-dialog {
    align-content: center;
    height: 100vh;
    margin: auto;
}