.container {
    color: #122620;
    margin: 0 auto; /* Center the container */
    padding: 0 20px; /* Add padding for better spacing */
    letter-spacing: 0.1em;

    .contact-info .bi-telephone-fill{
        display: inline-block;
        background-color: #9B8757; /* Circular background color */
        border-radius: 50%; /* Make it circular */
        padding: 10px; /* Adjust padding to make the circle larger or smaller */
        width: 36px; /* Set a fixed width and height */
        height: 36px; /* Set a fixed width and height */
        text-align: center; /* Center the icon inside the circle */
        line-height: 0px; /* Align the icon vertically */
    }
}

.navbar {
    background: transparent; 
    height: 150px;
}


.book_now .main-section{
    background-color: rgba(214, 173, 96, 0.75); /* rgba for #D6AD60 with 75% transparency */
}

.book_now .navbar{
    height: 80px;

    a.navbar-brand {
    margin: 0 auto;
    }

    .navbar-nav {
    margin-right: 20px;
    gap: 10px;
    }
}