.room-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    color: #D6AD60;
    letter-spacing: normal;
    padding: 0 40px;

    li{
        list-style: none;
    }
    
    ul{
        padding: 0;
        color: #D6AD60;
    }

    .btn{
        background-color: #FCEEC3 !important; /* Button background color */
        width: 180px; /* Button width */
        height: 48px; /* Button height */
        border-radius: 15px !important;
        border: none !important;
        color: #122620 !important;
        text-align: center;
        align-self: self-end;
    }
}

.rooms-container{
    color: #122620;
    margin: 0 auto;
    padding: 0 20px;
    letter-spacing: 0.1em;
    padding: 133px 133px 133px 133px;
    display: grid;
    justify-content: center;
}

.lrn_more:hover{
    background-color: #f8e0a8 !important; /* Slightly darker shade for hover */
}